
<div class="content" role="main">
  <h1>Button Click Event</h1>
  <button (click)="clickEvent()">
    Click Me
  </button>
  <p>{{msg}}</p>
  <p>{{appArray[0]}}</p>
  <p>{{appArray[1]}}</p>
  <p>{{appArray[2]}}</p>
  
<br>
<input type="text" (keyup)="onKey($event)">
<p>{{values}}</p>
<br>


<h4>Show data based on dropdown selection</h4>
<div>
  <!-- <p><input type="text" (keyup)="applyFilter($any($event.target).value)"></p> -->
  <!-- <select name="my-select" [(ngModel)]="mySelect" (change)="selectChange()">
    <option [value]="item.id" *ngFor="let item of customers">{{item.username}}</option>
  </select> -->
  <br>
   <select [ngModel]="selectedValue" (ngModelChange)="applyFilter($event);">
    <option [selected]="selectedValue">Select Option</option>
    <option  *ngFor="let item of allEmployees" [value]="item.username">{{item.username}}</option>
  </select>
  <!-- <select [(ngModel)]="mySelect" (change)="selectChange()">
    <option [value]="item.id"  *ngFor="let item of customers">{{item.username}}</option>
  </select> -->
  <!-- <p>Selected Value: {{item.username}}</p> -->
<table >
  <thead>
  <tr>
    <th>#</th>
  <th>Name</th>
  <th>User Name</th>
  <th>Email</th>
  <th>Address</th>
  <th>Phone</th>
  <th>Website</th>
  <th>Company</th>
  </tr>
  </thead>
  <tbody>
  <tr  *ngFor="let x of customers">
  <td>{{x?.id}}</td>
  <td>{{x?.name}}</td>
  <td>{{x?.username}}</td>
  <td>{{x?.email}}</td>
  <td>{{x?.address.street}}, {{x?.address.suite}}, {{x?.address.city}}, {{x?.address.zipcode}}, {{x?.address.geo.lat}}-{{x?.address.geo.lng}}</td>
  <td>{{x?.phone}}</td>
  <td>{{x?.website}}</td>
  <td>{{x?.company.name}}, {{x?.company.catchPhrase}}, {{x?.company.bs}}</td>
  </tr>
  </tbody>
  </table>
</div>
</div>

<router-outlet></router-outlet>
